.image-upload{
    position: relative;
    /* max-width: 360px; */
    width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 16px;
}
.image-upload input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
    }
.upload-field {
  display: block;
  background: #F4FAFE;
  padding: 12px;
  border-radius: 11px;

}

.upload-field .file-thumbnail {
  cursor: pointer;
  border: 1px dashed #a0a0a0;
  border-radius: 11px;
  text-align: center;
  padding: 12px;
}

.upload-field .file-thumbnail img {
  width: 50px;
}

.upload-field .file-thumbnail h3 {
  font-size: 12px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 2px;
}

.upload-field .file-thumbnail p {
  font-size: 12px;
  color: #9ABCD1;
  margin-bottom: 0;
}